<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angular table</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../src/ourpalm-table.css">
</head>
<body>

<div class="container" ng-controller="DemoController as vm">
    <h1>hello angular ourpalm-table！</h1>
    <h2>展示全部配置！</h2>

    <table ourpalm-table="vm.table" class="table table-bordered table-striped table-hover text-center">
        <tr ng-repeat="$row in $rows" ng-dblclick="vm.show();">
            <td table-column header="全选" field="select" sort="false" checkbox="true" sort-order="asc" style="width:30px;"></td>
            <td table-column header="序号" field="numbers" sort="false" rownumbers="true" sort-order="asc" hide="false" style="width:40px;"></td>
            <td table-column header="姓名" field="name" sort="true" checkbox="false" sort-order="asc">{{$row.name}}</td>
        </tr>
    </table>

    <table ourpalm-table="vm.table1" class="table table-bordered table-striped table-hover text-center">
        <tr ng-repeat="$row in $rows" ng-dblclick="vm.show();">
            <td table-column header="全选" field="select" sort="false" checkbox="true" sort-order="asc" style="width:30px;"></td>
            <td table-column header="序号" field="numbers" sort="false" rownumbers="true" sort-order="asc" hide="false" style="width:40px;"></td>
            <td table-column header="姓名" field="name" sort="true" checkbox="false" sort-order="asc">{{$row.name}}</td>
            <td table-column header="年龄" field="age" sort="true" checkbox="false" sort-order="desc">{{$row.age}}</td>
            <td table-column header="邮箱" field="email" sort="false" checkbox="false" sort-order="desc">{{$row.email}}</td>
            <td table-column header="操作" field="email" sort="false" checkbox="false" sort-order="desc">
                <button ng-click="show();">详情</button>
            </td>
        </tr>
    </table>

</div>


<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/angular.js/1.5.6/angular.min.js"></script>
<script type="text/javascript" src="../src/ourpalm-table.js"></script>
<script>

    angular
        .module('app', ['ourpalm-table'])
        .controller('DemoController', function ($timeout, OurpalmTable, $scope) {
            var vm = this;

            vm.table = new OurpalmTable({
                cacheKey: 'table01',
                cachePageSize: true,
                cacheColumns: true,
                pageList: [5, 10, 20, 30],
                defaultPageSize: 5,
                //data: rows, //内存加载数据
                loadData: function (table, callback) {
                    var options = table.getOptions();

                    var i = (options.currentPage - 1) * options.pageSize + 1;
                    var size = i + options.pageSize;
                    size = size > 86 ? 86 : size;
                    //构造服务器假数据
                    var rows = [];
                    for (; i < size; i++) {
                        rows.push({
                            name: `zhangsan${i}`,
                            age: i,
                            email: `zhangsan${i}@163.com`
                        });
                    }

                    $timeout(function () {
                        callback({
                            total: 86,
                            rows: rows
                        });
                    }, 300);
                }
            });

            vm.table1 = new OurpalmTable({
                cacheKey: 'table02',
                cachePageSize: true,
                cacheColumns: true,
                pageList: [3, 5, 10, 20, 30],
                defaultPageSize: 3,
                //data: rows, //内存加载数据
                loadData: function (table, callback) {
                    var options = table.getOptions();

                    var i = (options.currentPage - 1) * options.pageSize + 1;
                    var size = i + options.pageSize;
                    size = size > 86 ? 86 : size;
                    //构造服务器假数据
                    var rows = [];
                    for (; i < size; i++) {
                        rows.push({
                            name: `zhangsan${i}`,
                            age: i,
                            email: `zhangsan${i}@163.com`
                        });
                    }

                    $timeout(function () {
                        callback({
                            total: 86,
                            rows: rows
                        });
                    }, 300);
                }
            });
        });

    angular.bootstrap(document, ['app']);

</script>

</body>
</html>
